body, html {
  text-align: center;
  height: 100%;
  background: linear-gradient(#ffdecc,#d0ffcc);
}

h1 {
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-family: 'Righteous', cursive;
  font-size: 5em;
}

.progress {
  background-color: rgb(99, 90, 90);
  height: 2em;
  width: 50%;
  border: solid black 2px;
  border-radius: 50px;
  margin: auto;
  padding: 3px;
}

.progress-bar {
  content: '';
  display: block;
  background-color: blue;
  height: 100%;
  border-radius: 46px;
}