{{yield}}
<form {{on "submit" this.handleSubmit}}>
  <label for="goal">Running Goal</label>
  <Input @type="text" id="goal" name="goal" value={{this.value}} {{on "change" this.updateValue}} />
  <button type="submit">Go run!</button>
</form>