<h1>Run Towards Your Goal!</h1>

<form action="#">
  <label for="goal">Running Goal</label>
  <input type="text" name="goal" id="goal" placeholder="you got this!">
  <button>Go Run!</button>
</form>

{{outlet}}